<section class="hero has-background-white-ter is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <figure class="image is-inline-block is-96x96">
          <%= link_to root_path do %>
            <img src="https://bulma.io/images/placeholders/96x96.png" class="is-rounded">
          <% end %>
        </figure>
        <p class="subtitle has-text-grey">Welcome back. Login into your account</p>

        <div class="box">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

            <%= render "layouts/scripts/form_errors", obj: resource %>

            <div class="field">
              <div class="control">
                <%= f.email_field :email, placeholder: "Your email", class: "input is-medium" %>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <%= f.password_field :password, placeholder: "Your password", class: "input is-medium" %>
              </div>
            </div>
            <%= f.submit "Log in", class: "button is-uppercase is-block is-info is-large is-fullwidth" %>
          <% end %>
        </div>

      </div>
      <%= render "users/shared/links" %>
    </div>
  </div>
</section>
