<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <div class="page-header">
        <h1>Users</h1>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Created at</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |u| %>
            <tr>
              <td><%= u.id %></td>
              <td><%= link_to u.full_name, admin_user_path(u.id) %></td>
              <td><%= u.email %></td>
              <td><%= u.created_at.strftime("%d %b,%Y") %></td>
              <td><%= link_to "Become user", become_admin_user_path(u.id) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>