<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% page_title = @page_title ? "#{@page_title} - #{ENV['APP_NAME']}" : "#{ENV['APP_NAME']} - #{ENV['APP_DESCRIPTION']}" %>
    <title><%= page_title %></title>

    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
    <link rel="apple-touch-icon" href="/favicon.png"/>

    <!-- Viewport meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-title" content="<%= ENV['APP_NAME'] %>">

    <!-- OpenGraph Meta -->
    <meta property="og:site_name" content="<%= ENV['APP_NAME'] %>"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="<%= ENV['APP_DESCRIPTION'] %>"/>
    <meta property="og:url" content="<%= ENV['APP_URL'] %>"/>
    <meta property="og:title" content="<%= page_title %>"/>
    <meta property="og:image" content="<%= ENV['APP_IMAGE'] %>"/>

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="<%= ENV['TWITTER'] %>" />
    <meta name="twitter:title" content="<%= page_title %>" />
    <meta name="twitter:description" content="<%= ENV['APP_DESCRIPTION'] %>" />
    <meta name="twitter:image" content="<%= ENV['APP_IMAGE'] %>" />

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/scripts/ga' %>

  </head>

  <body class="bg-gray-200">
    <%= yield %>

    <%= render 'layouts/scripts/flash' %>
    <%= yield :extra_scripts %>
  </body>
</html>
