<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title><%= generate_page_title @page_title %></title>

    <%= render "layouts/metatags", title: @page_title %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/scripts/ga' %>

  </head>

  <body class="bg-gray-200">
    <%= yield %>

    <%= render 'layouts/scripts/flash' %>
    <%= yield :extra_scripts %>
  </body>
</html>
