<h2 class="text-gray-700 font-bold text-lg text-center">Create your account</h2>

<div class="my-8">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <%= render "layouts/scripts/form_errors", obj: resource %>

    <div class="mb-4">
      <label>First Name</label>
      <%= f.text_field :first_name, placeholder: "Bruce", class: "input" %>
    </div>
    
    <div class="mb-4">
      <label>Last Name</label>
      <%= f.text_field :last_name, placeholder: "Wayne", class: "input" %>
    </div>

    <div class="mb-4">
      <label>Email</label>
      <%= f.email_field :email, placeholder: "bruce@wayne-enterprises.com", class: "input" %>
    </div>

    <div class="mb-4">
      <label>Password</label>
      <%= f.password_field :password, placeholder: "••••••••", class: "input" %>
    </div>
    <%= f.submit "Sign up", class: "btn" %>
  <% end %>
</div>